@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Group B Library System!</h1>
    <p style="font-size:19px">In here you can check out our amazing book selection that is basically the equivalent to The Great Library of Alexandria.</p>
    <p style="font-size: 24px">You can add, edit and even delete books. Just don't fuckin' put us on fire, because we will not tolerate that.</p>
    <p style="font-size: 32px">Any misconduct of the site will lead to us reporting you directly to all federal agencies. Seriously, don't fuck with us! We have FBI on speed-dial and we sleep the CEO of NSA and we bribe Kripos with Dogecoins.</p>
</div>